# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# C/C++ Build Artifacts (Windows/MSVC)
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.exp
*.def
*.ipch
*.iobj
*.ipdb

# Visual Studio / VS Code
.vs/
.vscode/
*.code-workspace
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Mac/Linux
.DS_Store
Thumbs.db
